@import url('./base.css');

#app {
  display: flex;
  height: 100vh;
  padding: 0;
  flex: 1;
}

a,
.green {
  text-decoration: none;
  color: hsl(160deg 100% 37% / 100%);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsl(160deg 100% 37% / 20%);
  }
}

@media (width >= 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    height: 100vh;
    padding: 0;
    flex: 1;
  }
}